<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="whiz.tss.sspark.s_spark_android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".SSparkApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ssparkandroid"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".presentation.login.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.school_record.SchoolRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.collaboration.ClassDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.image.ImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.collaboration.class_post_comment.instructor.InstructorClassPostCommentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.collaboration.class_post_comment.student.StudentClassPostCommentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.learning_pathway.LearningPathwayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.class_schedule.StudentClassScheduleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.exam_schedule.StudentExamScheduleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.calendar.CalendarActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>